*{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    
    background-color: rgba(7, 71, 7, 0.2);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.li{
    background-color: rgb(85, 173, 109) ;
    color: rgb(8, 46, 19);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    border: 2px solid rgb(8, 46, 19);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    list-style: inside;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mydata li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin-left: 20em;
    margin-top: -1.3em;
}

button{
    background-color: rgb(8, 46, 19);
    text-decoration: none;
    border: 0em;
    padding: 1em;
    width: 15em;
    height: 4em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.button2{
    background-color: rgb(8, 46, 19);
    text-decoration: none;
    border: 0em;
    padding: 0.5em;
    width: 14em;
    height: 4em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.button2 a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}